.best {
  background: url(../img/bg/best.jpg) 50% no-repeat;
  background-size: cover;
  text-align: center;
}
.best__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.best__item {
  float: left;
  width: 33.3333%;
}
.best__icon-pic1 {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url(../img/icons/meat.svg) 50% no-repeat;
}
.best__icon-pic2 {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url(../img/icons/hand.svg) 50% no-repeat;
}
.best__icon-pic3 {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url(../img/icons/natural.svg) 50% no-repeat;
}
.best__title {
  font-size: 24px;
  line-height: 26px;
  font-family: 'Lifehack-Medium';
  color: #2f3234;
  margin-bottom: 20px;
}

.section__title_black {
  color: #2f3234;
  font-size: 72px;
  font-family: 'Gagalin-Regular';
  margin-bottom: 80px;
}
